<p id="notice"><%= notice %></p>
<div class="container"
	<p>
	  <strong>Name:</strong>
	  <%= @client.name %>
	</p>

	<p>
	  <strong>Phone:</strong>
	  <%= @client.phone %>
	</p>

	<p>
	  <strong>Address:</strong>
	  <%= @client.address %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @client.description %>
	</p>

</div>
<div class="container">
	<div class="panel-group" style="margin-top: 400px">
	  <div class="panel panel-default">
	  	<%= link_to 'Destroy', @client, method: :delete, data: { confirm: 'Are you sure?' },:style=>'float:right' %>
	   	<%= link_to 'Edit', edit_client_path(@client),:style=>'float:left'%>
		<%= link_to 'See all our nunnies', sitters_path, :style=>'margin-left: 450px' %>
	  </div>
	 </div>
</div>
</div>

