  <p id="notice"><%= notice %></p>
  <div class="container">

  <p style="float:right">
    <%= image_tag @sitter.avatar.url %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @sitter.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @sitter.phone %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= @sitter.date_of_birth %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @sitter.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @sitter.description %>
  </p>

  <div style="float:right">
    <%= instant_hangout topic: 'My Hangout' %>
  </div>

  <p>
    <strong>Last visit:</strong>
    <%= @sitter.user.last_seen %>
  </p>

  <div style="float:right">
  <%= link_to 'Back', sitters_path %>
  </div>

</div>

