<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sitter.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @sitter.phone %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @sitter.date_of_birth %>
</p>

<p>
  <strong>Address:</strong>
  <%= @sitter.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sitter.description %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @sitter.avatar %>
</p>

<%= image_tag @sitter.avatar.url %>
<!-- 
<%= link_to 'Back', sitters_path %> -->
<%= link_to 'Destroy', @sitter, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_sitter_path(@sitter) %>
