<p id="notice"><%= notice %></p>

<%= instant_hangout topic: 'My Hangout' %>

<p>
  <strong>Name:</strong>
  <%= @sitter.name %>
  <%= image_tag @sitter.avatar.url %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @sitter.phone %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @sitter.date_of_birth %>
</p>

<p>
  <strong>Address:</strong>
  <%= @sitter.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sitter.description %>
</p>

<!-- 
<%= link_to 'Home_Page', sitters_path %> -->
<%= link_to 'Destroy', @sitter, method: :delete, data: { confirm: 'Are you sure?' } %>
