<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @sitter.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @sitter.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @sitter.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sitter.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sitter.name %>
</p>

<%= link_to 'Edit', edit_sitter_path(@sitter) %> |
<%= link_to 'Back', sitters_path %>
