<p id="notice"><%= notice %></p>

<%= instant_hangout %>
<%= instant_hangout topic: 'My Hangout' %>
<%= instant_hangout hangout_type: 'onair' %>
<%= instant_hangout widget_size: 200 %>
<%= instant_hangout lang: :en %>

<p>
  <strong>Name:</strong>
  <%= @sitter.name %>
  <%= image_tag @sitter.avatar.url %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @sitter.phone %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @sitter.date_of_birth %>
</p>

<p>
  <strong>Address:</strong>
  <%= @sitter.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sitter.description %>
</p>

<%= link_to 'Back', sitters_path %>


