<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @sitter.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @sitter.longitude %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sitter.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @sitter.phone %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @sitter.date_of_birth %>
</p>

<p>
  <strong>Address:</strong>
  <%= @sitter.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sitter.description %>
</p>